body {
	background-image: url("art_and_film.jpg");
	background-size: auto;
	color: #E2D2BC;
}
.title {
	overflow: auto;
	background-image: url("dark_leather.png");	
}

h1, footer{
	font-family: 'Luckiest Guy', cursive;
}

.leftSide {
	background-image: url("dark_leather.png");
	font-family: Georgia, serif;
}
#topic-input{
	background-color: #AFA496;
	border-color: #AFA496;
	
}
button, #add-topic {
	background-image: url("dark_leather.png");
}

.rightSide {
	background-image: url("filmStrip.jpg");


}

.topic {
	margin: 5px;
}
p {
	font-family: 'Bangers', cursive;
	font-size: 20px
}
.box {
	background-image: url("retro-movie.jpg");
	height: 235px;
	width: 375px;
	margin: 5px;

}
.items {
	margin-top: 75px;
}



/*font-family: 'Bangers', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Luckiest Guy', cursive;*/