body {
	background-image: url("art_and_film.jpg");
	background-size: auto;
}

h1, footer{
	color: black;
}

.well {
	background-image: url("three.jpg");

}

.topic {
	margin: 5px;
}
p {
	font-family: 'Bangers', cursive;
	color: black;
	font-size: 20px
}




/*font-family: 'Bangers', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Luckiest Guy', cursive;*/